.front #views-bootstrap-grid-1 .views-field-body {
  background-color: #000;
}
.row-fluid .span4 {
    width: 30%;
}
/*
.span4 {
	width: 330px;
}
*/
#header #logo {
	margin: 20px 20px 0 30px;
}
@media (min-width: 768px) {

}